.edit-product-container{
    width: 100%;
    padding: 50px 20px 80px 20px;
}

.title{
    margin-bottom: 25px;
}

.edit-product-form{
    width: 90%;
    margin: auto;
}

.file-input{
    width: 100%;
    padding: 3.5px 0 2px 19px;
    height: 40px;
    border: 1px solid silver;
}

.upload-btn{
    position: relative;
    top: -40px;
    left: 0px;
    height: 40px;
    width: 120px;
    background-color: #f14d54;
    color: white;
    border: none;
    box-shadow: 0px 2px 5px grey;
}

@media only screen and (max-width:770px){
    #column-group{
        margin-bottom: 35px;
    }
}

.btn-group{
    position: relative;
    top: -40px;
    margin: 0%;
}

.submit-btn,.cancel-btn{
    height: 40px;
    width: 100px !important;
    border: none;
    border-radius: 5px;
    color: white;
}

.submit-btn{
    background-color: #80bf32;
}

.cancel-btn{
    background-color: #f14d54;
}